Build a classifier to predict whether a customer will ("soon") stop doing business with SyriaTel, a telecommunications company.</br>

Business Understanding</br>

Overview 


Challenges


Proposed Solution (Metrics; Accuracy Score: 80%)
Brief Conclusion

Problem Statement (Paragraph)
Objectives (To â€¦, Sequential)


Data Understanding

Sources (scrapped, consumed API, download)

the data used for this project(Churn in Telecom's dataset) was obtained from kaggle.</br>
it is also the the dataset reccomended that we use </br>

Columns (meaning of the columns)

it contains various 21 columns including what we will use as our target variable </br>
the other 20 columns may be useful as the precictors during modelling </br>
below is a rundown of what each column represents:</br>

'state' -
'account length'
'area code'
'phone number'
'international plan'
'voice mail plan'
'number vmail messages'
'total day minutes'
'total day calls'
'total day charge'
'total eve minutes'
'total eve calls'
'total eve charge'
'total night minutes'
'total night calls'
'total night charge'
'total intl minutes'
'total intl calls'
'total intl charge'
'customer service calls'
'churn

DATA PREPARATION	
	Loading of Dataset
	Describe, info, shape,
	Missing, Duplicate, Null Values
	Outliers
	Criteria for dealing with missing values (drop, impute (back/forward fill), use none/zeros)
	Outliers

In [7]:
# importing neccesary modules 
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np
from scipy import stats
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score, cross_validate
from sklearn.preprocessing import StandardScaler, Normalizer
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import precision_score, recall_score, accuracy_score, f1_score, confusion_matrix
from sklearn.metrics import plot_confusion_matrix
from imblearn.over_sampling import SMOTE
from xgboost import XGBClassifier

In [8]:
# # Load data set function
# def load_data(data_path):
#     data = pd.read_csv(data_path)
#     head = data.head()
#     shape = data.shape
#     describe = data.describe()
    
#     # Capture the info output
#     buffer = StringIO() #info was printing directly and therefore needed to be held 
#     data.info(buf=buffer)
#     info = buffer.getvalue()

#     output = {
#             "Head": head,
#             "Shape": shape,
#             "Describe": describe,
#             "Info": info
#         }
        
#     return(output, data)

In [9]:
# #load the data set
# data = load_data(r"data.csv")

In [10]:
# df = pd.read_csv("data.csv")

As we ca see we have no null values. </br>

we can also see that the data tpes are in the all the right formats

In [11]:
# # view the head 
# data["Head"]

In [12]:
# data["Shape"]

In [13]:
# data["Describe"]

In [14]:
# data["Info"]
# for line in data["Info"].split('\n'):    #print line by line instead of one long line
#     print(line)

from this and shape we can see that we have no missing or null values

In [15]:
df = pd.read_csv("data.csv")
df.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

Data preparation

In [16]:
df.isna().value_counts()

state  account length  area code  phone number  international plan  voice mail plan  number vmail messages  total day minutes  total day calls  total day charge  total eve minutes  total eve calls  total eve charge  total night minutes  total night calls  total night charge  total intl minutes  total intl calls  total intl charge  customer service calls  churn
False  False           False      False         False               False            False                  False              False            False             False              False            False             False                False              False               False               False             False              False                   False    3333
dtype: int64

from this we can see that we have no null values</br>

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   3333 non-null   object
 1   account length          3333 non-null   int64
 2   area code               3333 non-null   int64
 3   phone number            3333 non-null   object
 4   international plan      3333 non-null   object
 5   voice mail plan         3333 non-null   object
 6   number vmail messages   3333 non-null   int64
 7   total day minutes       3333 non-null   float64
 8   total day calls         3333 non-null   int64
 9   total day charge        3333 non-null   float64
 10  total eve minutes       3333 non-null   float64
 11  total eve calls         3333 non-null   int64
 12  total eve charge        3333 non-null   float64
 13  total night minutes     3333 non-null   float64
 14  total night calls       3333 non-null   int64
 15  total night charge      3333 non-null   float64
 16  total intl minutes      3333 non-null   float64
 17  total intl calls        3333 non-null   int64
 18  total intl charge       3333 non-null   float64
 19  customer service calls  3333 non-null   int64
 20  churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(4)
memory usage: 524.2+ KB

we can also see that all columns are in the proper data types


next is checking for duplicate values

In [18]:
df.duplicated().value_counts()

False    3333
dtype: int64

as we can see we have no duplicates.<br>
Im guessing this is the cleanest data i'll ever see</br>
no let's look at our statistical summary

In [19]:
df.describe()

,account length,area code,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,437.182418,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856
std,39.822106,42.371290,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000
75%,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000
max,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

let's check for outliers

In [20]:
# Calculate the Z-scores
z_scores = np.abs(stats.zscore(df.select_dtypes(include=[np.number])))

# Identify outliers (using a threshold of 3 for Z-score)
outliers = (z_scores > 3).any(axis=1)
outlier_rows = pd.DataFrame(df[outliers])

print("Outliers using Z-score:")
print(outlier_rows)

Outliers using Z-score:
     state  account length  area code phone number international plan  \
22      AZ             130        415     358-1958                 no
32      LA             172        408     383-1121                 no
41      MD             135        408     383-6029                yes
58      WI              68        415     403-9733                 no
115     ME              36        510     363-1069                yes
...    ...             ...        ...          ...                ...
3247    OK             146        510     377-4975                 no
3275    NY             120        510     405-5083                 no
3290    CA             127        510     388-4331                 no
3291    MI             119        510     335-7324                yes
3310    NY              94        415     363-1123                 no

     voice mail plan  number vmail messages  total day minutes  \
22                no                      0              183.0
32                no                      0              212.0
41               yes                     41              173.1
58                no                      0              148.8
115              yes                     42              196.8
...              ...                    ...                ...
3247              no                      0              138.4
3275             yes                     27              128.5
3290              no                      0              107.9
3291             yes                     22              172.1
3310              no                      0              190.4

      total day calls  total day charge  total eve minutes  total eve calls  \
22                112             31.11               72.9               99
32                121             36.04               31.2              115
41                 85             29.43              203.9              107
58                 70             25.30              246.5              164
115                89             33.46              254.9              122
...               ...               ...                ...              ...
3247              104             23.53              158.9              122
3275              115             21.85              163.7               91
3290              128             18.34              187.0               77
3291              119             29.26              223.6              133
3310               91             32.37               92.0              107

      total eve charge  total night minutes  total night calls  \
22                6.20                181.8                 78
32                2.65                293.3                 78
41               17.33                122.2                 78
58               20.95                129.8                103
115              21.67                138.3                126
...                ...                  ...                ...
3247             13.51                 47.4                 73
3275             13.91                242.9                121
3290             15.90                218.5                 95
3291             19.01                150.0                 94
3310              7.82                224.8                108

      total night charge  total intl minutes  total intl calls  \
22                  8.18                 9.5                19
32                 13.20                12.6                10
41                  5.50                14.6                15
58                  5.84                12.1                 3
115                 6.22                20.0                 6
...                  ...                 ...               ...
3247                2.13                 3.9                 9
3275               10.93                 0.0                 0
3290                9.83                 0.0                 0
3291                6.75                13.9                20
3310               10.12                13.6                17

      total intl charge  customer service calls  churn
22                 2.57                       0  False
32                 3.40                       3  False
41                 3.94                       0   True
58                 3.27                       3  False
115                5.40                       0   True
...                 ...                     ...    ...
3247               1.05                       4   True
3275               0.00                       1  False
3290               0.00                       0  False
3291               3.75                       1   True
3310               3.67                       2  False

[164 rows x 21 columns]

from this we can see that we have outliers in 164 rows in different columns, let's drop those rows

In [21]:
def remove_outliers_zscore(df):
    """
    takes in a dataframe and removes outliers from a dataframe using Z-score method.
    
    """
    import numpy as np
    # Calculate Z-scores
    z_scores = np.abs(stats.zscore(df.select_dtypes(include=[np.number])))
    
    # Identify outliers
    outliers_z = df[(z_scores > 3).any(axis=1)]
    
    # Remove outliers from dataframe
    df_cleaned = df.drop(outliers_z.index)
    return df_cleaned
df = remove_outliers_zscore(df)

In [22]:
len(df)

3169

In [23]:
df.columns

Index(['state', 'account length', 'area code', 'phone number',
       'international plan', 'voice mail plan', 'number vmail messages',
       'total day minutes', 'total day calls', 'total day charge',
       'total eve minutes', 'total eve calls', 'total eve charge',
       'total night minutes', 'total night calls', 'total night charge',
       'total intl minutes', 'total intl calls', 'total intl charge',
       'customer service calls', 'churn'],
      dtype='object')

looking at our columns i think the phone number gives the same vibes as an index. they don't hold any meaning and are nearly randomly allocated. cause this column won't hold any meaning when it comes to modelling, i will drop it

In [24]:
df.drop(["phone number"], axis=1, inplace=True)
df.columns

Index(['state', 'account length', 'area code', 'international plan',
       'voice mail plan', 'number vmail messages', 'total day minutes',
       'total day calls', 'total day charge', 'total eve minutes',
       'total eve calls', 'total eve charge', 'total night minutes',
       'total night calls', 'total night charge', 'total intl minutes',
       'total intl calls', 'total intl charge', 'customer service calls',
       'churn'],
      dtype='object')

EDA

UNIVARIATE ANALYSIS